<p>
  <strong><%= attribute %>:</strong> <%= value %><br>
</p>

<!--
<p>
<strong>Home Country:</strong> <%= @programmer.home_country %><br>
</p>

<p>
<strong>Quote:</strong> <%= @programmer.quote %><br>
</p>

<p>
<strong>Claim To Fame:</strong> <%= @programmer.claim_to_fame %>
</p>

They each seem to be in a <p> tag with a bolded, capitalized label
followed by the value for the given attribute.
You'll want to render each of these with a single partial,
app/views/programmers/_attribute.html.erb, into which you'll pass local variables
-->
