<div class="row jumbotron">
  <%= render partial: 'shared/programmer_attr/image', locals: {programmer: @programmer } %>
  <div class="col-md-9 programmer-info">  
    <%= render partial: 'shared/programmer_attr/country', locals: {programmer: @programmer } %>
    <%= render partial: 'shared/programmer_attr/quote', locals: {programmer: @programmer } %>   
    <%= render partial: 'shared/programmer_attr/fame', locals: {programmer: @programmer } %>   
    <%= render partial: 'shared/programmer_attr/about', locals: {programmer: @programmer } %>  
  </div>
</div>