<%= render "layouts/navbar" %>
<%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, root_path %>

<%= render partial: "programmers/programmer", locals: {programmer: @programmer} %>

<div class="row jumbotron">



  <div class="col-md-9 programmer-info">

    <%= render partial: "programmers/attribute", locals: {programmer: @programmer} %>
    <p>
    <%= link_to "Learn more about #{@programmer.name}", @programmer.wikipedia_page, target: '_blank' %>
    </p>
  </div>
</div>
