<%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, root_path %>

<% render @programmer %>

<div class="row jumbotron">

  <div class="col-md-9 programmer-info">

    <%= render partial: 'attribute', locals: {label: 'Home Country', value: @programmer.home_country} %>
    <%= render partial: 'attribute', locals: {label: 'Quote', value: @programmer.quote} %>
    <%= render partial: 'attribute', locals: {label: 'Claim To Fame', value: @programmer.claim_to_fame} %>

    <p>
    <%= link_to "Learn more about #{@programmer.name}", @programmer.wikipedia_page, target: '_blank' %>
    </p>

  </div>
</div>
