<%= render partial: 'layouts/navbar'%>

<%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, root_path %>

<%= render partial: 'programmer', locals: { programmer: @programmer } %>

<%= render partial: 'attribute', locals: {programmer: @programmer, attribute: "quote"} %>
<%= render partial: 'attribute', locals: {programmer: @programmer, attribute: "claim_to_fame"} %>
<%= render partial: 'attribute', locals: {programmer: @programmer, attribute: "home_country"} %>





