<%= link_to 'Programmers List', root_path %>

<div class="row jumbotron">

  <%= render partial: "programmer", locals: {programmer: @programmer} %>

  <div class="col-md-9 programmer-info">

    <%= render partial: 'attribute', locals: {title: 'home_country:', value: @programmer.home_country } %>

    <%= render partial: 'attribute', locals: {title: 'quote:', value: @programmer.quote } %>

    <%= render partial: 'attribute', locals: {title: 'claim_to_fame:', value: @programmer.claim_to_fame } %>

    <%= link_to "Check Out #{@programmer.name}'s Wikipedia Page", @programmer.wikipedia_page, target: '_blank' %>


  </div>
</div>