<%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, root_path %>

<%= render "programmer", :programmer => @programmer %>

<div class="col-md-9 programmer-info">

   <%= render partial: "attribute", locals: {attribute_name: "Home Country", attribute_value: @programmer.home_country} %><br>

   <%= render partial: "attribute", locals: {attribute_name: "Quote", attribute_value: @programmer.quote} %><br>

   <%= render partial: "attribute", locals: {attribute_name: "Claim to Fame", attribute_value: @programmer.claim_to_fame} %>

    <p>
    <%= link_to "Learn more about #{@programmer.name}", @programmer.wikipedia_page, target: '_blank' %>
    </p>

</div>
