<%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, root_path %>

<h3>
  <%= @programmer.name %> | <%= formatted_date(@programmer.birth_date) %> - <%= formatted_date(@programmer.death_date) %>
</h3>

<div class="row jumbotron">

  <div class="col-md-3">
    <%= image_tag @programmer.image, height: '250px', class:"profile-image" %>
  </div>

  <div class="col-md-9 programmer-info">

    <% method_names = ["quote", "home_country", "claim_to_fame"] %>

    <% method_names.each do |method_name| %>
      <%= render partial: 'attribute', locals: {label: "#{method_name.gsub("_", " ").capitalize}", value: @programmer.send(method_name)} %>
    <% end %>

    <p>
    <%= link_to "Learn more about #{@programmer.name}", @programmer.wikipedia_page, target: '_blank' %>
    </p>

  </div>
</div>
