<%= render 'layouts/navbar' %>

<%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, root_path %>

<h3>
  <%= @programmer.name %> | <%= formatted_date(@programmer.birth_date) %> - <%= formatted_date(@programmer.death_date) %>
</h3>

<div class="row jumbotron">

  <div class="col-md-3">
    <%= image_tag @programmer.image, height: '250px', class:"profile-image" %>
  </div>

  <div class="col-md-9 programmer-info">

    <!-- Not flexible... -->
    <%#= render partial: 'attribute', locals: {
      :home_country => @programmer.home_country,
      :quote => @programmer.quote,
      :claim_to_fame => @programmer.claim_to_fame,
      :birth_date => @programmer.birth_date}
    %>

    <!-- Much better... -->
    <%= render partial: 'attribute', locals: {title: 'home_country', value: @programmer.home_country} %>
    <%= render partial: 'attribute', locals: {title: 'quote', value: @programmer.quote} %>
    <%= render partial: 'attribute', locals: {title: 'claim_to_fame', value: @programmer.claim_to_fame} %>
    <%= render partial: 'attribute', locals: {title: 'birth_date', value: @programmer.birth_date} %>

    <p>
    <%= link_to "Learn more about #{@programmer.name}", @programmer.wikipedia_page, target: '_blank' %>
    </p>

  </div>
</div>
